.burger_btn {
    display: none;
    width: 35px;
    height: 25px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}
@media(max-width: 1420px) {
    .burger_btn {
        display: block;
        width: 35px;
        height: 25px;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
    }
}
.burger_btn:before {
    content:  "";
    position: absolute;
    top: 0;
    width: 35px;
    background: #201E1C;
    height: 3px;
    border-radius: 20px;
}
.burger_btn span {
    position: absolute;
    top: 10px;
    width: 35px;
    background: #201E1C;
    height: 3px;
    border-radius: 20px;
}
.burger_btn:after {
    content:  "";
    position: absolute;
    bottom: 0;
    width: 35px;
    background: #201E1C;
    height: 3px;
    border-radius: 20px;
}